# Ignorar carpeta de Visual Studio
.vs/

# Binarios y carpetas de compilación
bin/
obj/

# Publicaciones y contenido generado
publish/
wwwroot/uploads/

# Configuración de usuarios
*.user
*.suo

# Node.js (por si usas Angular)
node_modules/
dist/

# Archivos de sistema
.DS_Store
Thumbs.db

# Android Studio / Gradle (Añade esta sección completa)
*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
build/
captures/
.cxx/
*.apk
*.aab
*.ap_
*.dex
*.keystore
*~