<div class="home-container">
  <div class="content-overlay">
    <!-- Usamos el operador 'optional chaining' (?) por si currentUserSig es null al principio -->
    <h1 class="welcome-title">¡Prepárate para la batalla, {{ authService.currentUserSig()?.nombreUsuario }}!</h1>
    <div class="player-stats">
      <p>Tu ELO actual: <span class="elo-score">{{ userElo }}</span></p>
    </div>
    <button class="btn find-match-btn" (click)="buscarPartida()">Buscar Partida</button>

    <!-- Este div mostrará el mensaje de espera -->
    <div *ngIf="waitingMessage" class="message">
      {{ waitingMessage }}
    </div>
  </div>
</div>